<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.niels.tweakerslisttransitions" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Shift Manager"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EvenementListActivity"
            android:label="Shift Manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShiftCategorieActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".EvenementListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EvenementListActivity" />
        </activity>
        <activity
            android:name=".Adapters.SectionListView"
            android:label="@string/title_item_detail"
            android:parentActivityName=".EvenementListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EvenementListActivity" />
        </activity>
        <activity
            android:name=".ShiftDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".EvenementListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EvenementListActivity" />
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
